* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

button {
  border: 1px solid #ccc;
  padding: 10px 25px;
  border-radius: 10px;
  min-width: 120px;
  background-color: white;
  cursor: pointer;
}